---
const base = import.meta.env.BASE_URL;
---
<header class="py-6 border-b border-base-200">
  <div class="flex items-center justify-between">
    <a
      href="/"
      class="text-sm uppercase tracking-tight font-semibold text-base-900"
    >
      Project Report
    </a>

    <nav class="flex items-center gap-4 text-sm">
      <a href={`${base}report/ru`} class="text-base-600 hover:text-black">
        RU
      </a>

      <a href={`${base}report/en`} class="text-base-600 hover:text-black">
        EN
      </a>

      <a
        href="https://github.com/TAbramovskaya/sml-multi-channel-communication"
        target="_blank"
        rel="noopener noreferrer"
        class="py-1.5 px-2.5 rounded-full bg-base-900 text-white hover:bg-base-800 duration-200"
      >
        GitHub
      </a>
    </nav>
  </div>
</header>